.filter {
    padding-right: 20px;

    @media (max-width: 767px){
        margin: 15px 20px 5px;
        padding: 0;
    }

    &_store {
        font-size: 18px;
        margin: 35px 0 5px;

        @media (max-width: 767px){
            margin-bottom: 25px;
        }

        label {
            font-family: sans-serif;
            margin-right: 20px;
            padding-left: 30px;
            position: relative;
            
            @media (max-width: 767px){
                display: block;
                margin-bottom: 15px;
            }
            &:before {
                border: 2px solid #aaa;
                content: "";
                height: 15px;
                left: 0px;
                position: absolute;
                width: 15px;
            }
        }
        a {
            color: black;
            margin-left: 20px
        }
    }
    &_buttons{
        align-items: stretch;
        display: flex;
    }

    &_button {
        background-color: black;
        border: none;
        color: white;
        font-family: sans-serif;
        margin-right: 5px;
        min-width: 220px;
        padding: 10px 10px;

        @media (max-width: 767px){
            flex-grow: 1;
            min-width: 120px;
            padding: 15px 10px;
            text-align: left;
        }
    }

    &_layout {
        background-size: cover;
        border: none;
        display: flex;
        padding: 5px;
        width: 35px;
        @media (max-width: 767px){
            width: 45px;
        }
    }
}