<div class="filter">
    <div class="filter_store">
        <input type="hidden" id="inStoreCheck">
        <label for="inStoreCheck">NEED IT TODAY?</label>
        <span>Available at Easton</span>
        <a href="google.com">Change Store</a>
    </div>
    <div class="filter_buttons">
        <button class="filter_button" type="button">
            FILTER
        </button>
        <button class="filter_button" type="button">
            SORT BY: FEATURED
        </button>
        <button class="filter_layout" type="button">
        </button>
    </div>
</div>