<div class="header">
    <div class="header_logo">
        <img src="/assets/images/logo.png">
    </div>
    <div class="header_iconContainer header_iconContainer_account">
        <span class="header_icon header_icon_account"></span>
    </div>
    <div class="header_iconContainer header_iconContainer_store">
        <span class="header_icon header_icon_store"></span>
    </div>
    <div class="header_iconContainer header_iconContainer_search">
        <span class="header_icon header_icon_search"></span>
    </div>
    <div class="header_iconContainer header_iconContainer_bag">
        <span class="header_icon header_icon_bag"></span>
    </div>
    <div class="header_menu menu">
        <div class="menu_hamburger_box">
            <a>&#9776;</a>
            <a ><small class="menu_hamburger_box_text">MENU</small></a>
        </div>
        <div class="menu_tab"><a>WOMEN</a></div>
        <div class="menu_tab"><a>MEN</a></div>
        <div class="menu_tab"><a>KIDS</a></div>
        <div class="menu_tab"><a>ACCESSORIES</a></div>
        <div class="menu_tab"><a>CLEARANCE</a></div>
        <div class="menu_tab"><a>BRANDS</a></div>
    </div>
</div>